In [ ]:
import pandas as pd

## Syntax  - when do we use these?
- `()` - when calling a function or method; to create a tuple
- `{}` - when creating a dictionary or set 
- `[]` - when slicing an iterable; to create a list

### Tuple
- An ordered, immutable collection
- () are optional but prefered

In [ ]:
tuple1 = ('Chris', 'Sobiya', 'Rene')

In [ ]:
tuple2 = 'Chris', 'Sobiya', 'Rene'

In [ ]:
print(tuple1)
print(tuple2)

In [ ]:
tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
tuple3[0]

In [ ]:
tuple3[0] = 'Steve'

### Set
- An unordered, collection of unique values
- Uses {}

In [ ]:
tuple3

In [ ]:
set1 = set(tuple3)

In [ ]:
set1

### Dictionary
- A collection of key:value pairs
- Uses {}

In [ ]:
dict1 = {1111 : "April" , 2222 : "Jamal", 3333 : "Krystal", 4444 : "Lee", 5555 : "Carlos"}

In [ ]:
dict1[1111]

In [ ]:
dict1[1111] = "Fran"

In [ ]:
dict1[1111]

In [ ]:
dict1

### List
- A ordered, mutable collection
- Uses []

### Simple list of postive integers

In [ ]:
numbers = [78, 43, 9, 13, 50, 23]

In [ ]:
numbers[0]

In [ ]:
numbers[0] = 12

In [ ]:
numbers

In [ ]:
names = ['Fran', 'Jamal', 'Krystal', 'Lee', 'Carlos']

In [ ]:
new_dict = dict(zip(names, numbers))

In [ ]:
new_dict

In [ ]:
names

In [ ]:
names.append('Ash')
names

### Itterate through the list of numbers printing each in turn

In [ ]:
for num in numbers:
    print('Number:', num)

### Find the largest number in a list greater than 0

In [ ]:
largest = 0

for num in numbers:
    if num > largest:
        largest = num
        
print("The largest number is: ", largest)

### Use a counter to find the largest number of any list of at least 1 item

In [ ]:
count = 0

for num in numbers:
    if count == 0:
        largest = num
        
    if num > largest:
        largest = num
    
    count+=1

print("The largest number is: ", largest)

### Read in the schools_clean.csv and look at the resulting dataframe

In [ ]:
schools = pd.read_csv("schools_clean.csv")

In [ ]:
schools

### Use iterrows to iterate though the dataframe, then, depending on school level, note the population of the highest grade served.
### Use a '-1' to note any row that does not work

In [ ]:
for index, row in schools.iterrows():
    if row.level == "Elementary School":
        schools.loc[index, 'highest_grade'] = schools.loc[index, 'grade_4']
    elif row.level == "Middle School":
        schools.loc[index, 'highest_grade'] = schools.loc[index, 'grade_8']
    elif row.level == "High School":
        schools.loc[index, "highest_grade"] = schools.loc[index, 'grade_12']
    else:
        schools.loc[index, "highest_grade"] = -1

In [ ]:
schools

### Next we want to use a dictionary to act as a counter too see the frequency of languages used in a set of 100 tweets.   Please note, this is just an example of how, and this could more easily be done with a value_counts().

In [ ]:
tweets = pd.read_csv('tweets.csv')
tweets.head()

In [ ]:
tweets.columns

In [ ]:
tweets.lang.value_counts()

In [ ]:
lang_dict = {}

for lang in tweets.lang:
    if lang not in lang_dict:
        lang_dict[lang] = 1
    else:
        lang_dict[lang]+=1

In [ ]:
lang_dict

### Create a function that takes a temperature in Fahrenheit and return that temperature in Celcius

In [ ]:
def temp_switch(temp):
    
    celcius = (temp - 32) * 5/9
        
    return celcius

In [ ]:
temp_switch(0)

### Create a function that accepts 2 arguements and give the largest number between 1 and x that evenly goes into y.

In [ ]:
def moddy(x,y):
    
    highest = 0
    for i in range(1, x):
        
        if y%i == 0:
            highest = i
    
    return(highest)

### Test our function

In [ ]:
moddy(13, 28)

# End of Instruction

### Read in the hofplayers data

### Create a loop that goes through each row of the dataframe to see if that players birth country and death country were the same.
### If they were, then see if the birth state and death state were the same. if they were check to see if the birth city and death city are the same
### Each players should be categorized Either: "Same Country", "Same State", "Same City", "Unknown"

### Create a counter dictionary that counts the number of player in the hall of fame by state