In [1]:
import pandas as pd
import operator
import time
import seaborn as sns

### Syntax  - when do we use these?
 - `()` - when calling a function or method; to create a tuple
 - `{}` - when creating a dictionary or set 
 - `[]` - when slicing an iterable; to create a list

In [2]:
# call the ctime() method from the time module
time.ctime()

'Thu Aug 22 18:09:21 2019'

### [Python Collections](https://www.w3schools.com/python/python_lists.asp)

#### a tuple is an ordered, immutable list

In [4]:
tuple1 = (90, 180, 270, 360)
tuple2 = 'Taylor', 'Selam'
tuple8 = tuple()

In [5]:
print('tuple1 is a ', type(tuple1))
print('tuple2 is a ', type(tuple2))

tuple1 is a  <class 'tuple'>
tuple2 is a  <class 'tuple'>

In [6]:
tuple2

('Taylor', 'Selam')

In [7]:
tuple3 = tuple1 + tuple1

In [8]:
tuple3

(90, 180, 270, 360, 90, 180, 270, 360)

In [10]:
tuple3[1]

180

In [11]:
print(tuple.__doc__)

tuple() -> empty tuple
tuple(iterable) -> tuple initialized from iterable's items

If the argument is a tuple, the return value is the same object.

In [13]:
# type tuple3. and press tab to see tuple methods
tuple3.count(180)
tuple3.index(360)

3

In [14]:
tuple3[0] = 360

TypeError: 'tuple' object does not support item assignment

#### a list is ordered and mutable

In [15]:
list1 = ['red', 'yellow', 'blue', 'green', 'red', 'green']
list2 = ['Sarah', 'Julia', 'Cordero', 'Jason', 'Sefa', 'Val']

In [16]:
print('list1 is a ', type(list1))
print('list2 is a ', type(list2))

list1 is a  <class 'list'>
list2 is a  <class 'list'>

In [17]:
list3 = list1 + list2

In [18]:
list3

['red',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Sarah',
 'Julia',
 'Cordero',
 'Jason',
 'Sefa',
 'Val']

In [19]:
list3[0]

'red'

In [20]:
list3[0] = 'purple'

In [21]:
list3

['purple',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Sarah',
 'Julia',
 'Cordero',
 'Jason',
 'Sefa',
 'Val']

In [ ]:
# type list3. and press tab to see list methods
list3.

In [22]:
list3.pop(2)
list3

['purple',
 'yellow',
 'green',
 'red',
 'green',
 'Sarah',
 'Julia',
 'Cordero',
 'Jason',
 'Sefa',
 'Val']

In [23]:
list3.remove('Sarah')
list3

['purple',
 'yellow',
 'green',
 'red',
 'green',
 'Julia',
 'Cordero',
 'Jason',
 'Sefa',
 'Val']

In [24]:
list3.append('Sarah')
list3

['purple',
 'yellow',
 'green',
 'red',
 'green',
 'Julia',
 'Cordero',
 'Jason',
 'Sefa',
 'Val',
 'Sarah']

In [25]:
list3.reverse()
list3

['Sarah',
 'Val',
 'Sefa',
 'Jason',
 'Cordero',
 'Julia',
 'green',
 'red',
 'green',
 'yellow',
 'purple']

In [28]:
last_one = list3.pop()
last_one

'purple'

In [29]:
list3

['Sarah',
 'Val',
 'Sefa',
 'Jason',
 'Cordero',
 'Julia',
 'green',
 'red',
 'green',
 'yellow']

In [27]:
# lists are iterable - here we use a for-loop to iterate through list3 and create a new list

plurals = []
for item in list3:
    plurals.append(item + 's')
    
plurals

['Sarahs',
 'Vals',
 'Sefas',
 'Jasons',
 'Corderos',
 'Julias',
 'greens',
 'reds',
 'greens',
 'yellows',
 'purples']

In [30]:
# list comprehensions are a compact way to iterate through a list
plurals2 = [item + 's' for item in list3]
plurals2

['Sarahs',
 'Vals',
 'Sefas',
 'Jasons',
 'Corderos',
 'Julias',
 'greens',
 'reds',
 'greens',
 'yellows']

In [31]:
favorite_colors = {}

In [32]:
type(favorite_colors)

dict

In [34]:

favorite_colors = dict(zip(list2, list1))
favorite_colors

{'Cordero': 'blue',
 'Jason': 'green',
 'Julia': 'yellow',
 'Sarah': 'red',
 'Sefa': 'red',
 'Val': 'green'}

In [35]:
favorite_colors['Sefa']

'red'

## Sometimes we might want to turn a series into a list

### Let's get a _list_ of unique iris species

In [36]:
# load the iris dataset from seaborn

iris = sns.load_dataset('iris')
print(iris.shape)
iris.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [37]:
iris.species.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [38]:
species = iris.species
type(species)

pandas.core.series.Series

In [40]:
species_list = list(species)

print(type(species_list))
print(species_list)

<class 'list'>

['setosa', 'setosa', 'setosa', 'setosa']

In [41]:
# passing a list to a set constructor is a handy way to get unique list values

unique_species = set(species_list)
print(type(unique_species))
unique_species

<class 'set'>

{'setosa', 'versicolor', 'virginica'}

### Next, we'll use a mask to *filter* the iris DataFrame

In [ ]:
# use a mask to subset the data to get only observations with a sepal_length > 5.0

iris['sepal_length'] > 5

In [43]:
big_sepal_mask = iris['sepal_length'] > 5

In [44]:
# use the mask to subset
big_sepals = iris[big_sepal_mask]
print(big_sepals.head(2))
print("The biggest big sepal is ", big_sepals.sepal_length.max(), 
      "cm long!")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
The biggest big sepal is  7.9 cm long!

In [55]:
biggish_sepals = iris[(iris.sepal_length > 5) & (iris.sepal_length < 7)]

print(biggish_sepals.head(2))
print("The biggest biggsih sepal is ", 
      biggish_sepals.sepal_length.max(), "cm long!")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
The biggest biggsih sepal is  6.9 cm long!

### Functions and for-loops

#####  write a function that takes two numbers as input and returns their sum

In [46]:
def sum_two(num1 = 4, num2 = 5):
    return num1 + num2

In [47]:
sum_two()

9

In [48]:
sum_two(8, 9)

17

In [49]:
sum_two( 'hello', 'Sam')

'helloSam'

#### what if we only want to use `sum_two()` to add numbers?

In [64]:
def sum_it(num3, num4):
    if (isinstance(num3, str)  or isinstance(num4, str)):
        return('Arguments must be numeric!')
    else:
        return num3 + num4

In [65]:
sum_it(1, 2)

3

In [66]:
sum_it('hello', 'Sam')

'Arguments must be numeric!'

#### When do we write a function?

In [68]:
num = 279
if num <= 1:
     print(num,"is not a prime number")

for i in range(2,num):
    if (num % i) == 0:
        print(num,"is not a prime number")
        print(i,"times",num//i,"is",num)
        break
else:
    print(num,"is a prime number")

279 is not a prime number
3 times 93 is 279

In [69]:
def test_for_prime(num):
    if num <= 1:
         print(num,"is not a prime number")

    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
    else:
        print(num,"is a prime number")

In [70]:
test_for_prime(84)

84 is not a prime number
2 times 42 is 84

In [71]:
test_for_prime(391)

391 is not a prime number
17 times 23 is 391