In [30]:
import pandas as pd
import operator
import time
import seaborn as sns

### Syntax  - when do we use these?
 - `()` - when calling a function or method; to create a tuple
 - `{}` - when creating a dictionary or set 
 - `[]` - when slicing an iterable; to create a list

### call the `ctime()` method from the time module

### [Python Collections](https://www.w3schools.com/python/python_lists.asp)

#### a _tuple_ is an ordered, immutable list (with or without parentheses)

In [31]:
tuple1 = (90, 180, 270, 360)
tuple2 = 'Ashley', 'Kim'
tuple4 = tuple()

In [32]:
print('tuple1 is a ', type(tuple1))
print('tuple2 is a ', type(tuple2))

tuple1 is a  <class 'tuple'>
tuple2 is a  <class 'tuple'>

In [33]:
tuple2

('Ashley', 'Kim')

In [34]:
tuple3 = tuple1 + tuple1

In [35]:
tuple3

(90, 180, 270, 360, 90, 180, 270, 360)

In [36]:
tuple3[1]

180

In [37]:
print(tuple.__doc__)

Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

### your turn
- type `tuple3.` and press `tab` to see the tuple methods
- use each method in the cell below 
- try typing `tuple3.index?` for help understanding how to use the `index()` method

In [90]:
tuple3.index?

#### immutability

In [ ]:
tuple3[0] = 360

#### a _list_ is ordered and mutable

In [53]:
list1 = ['red', 'yellow', 'blue', 'green', 'red', 'green']
list2 = ['Amanda', 'Media', 'Ari', 'Dylan', 'Pam', 'Cristina']

In [54]:
print('list1 is a ', type(list1))
print('list2 is a ', type(list2))

list1 is a  <class 'list'>
list2 is a  <class 'list'>

In [55]:
list3 = list1 + list2

In [56]:
list3

['red',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Amanda',
 'Media',
 'Ari',
 'Dylan',
 'Pam',
 'Cristina']

In [57]:
list3[0]

'red'

#### mutability

In [58]:
list3[0] = 'purple'

In [59]:
list3

['purple',
 'yellow',
 'blue',
 'green',
 'red',
 'green',
 'Amanda',
 'Media',
 'Ari',
 'Dylan',
 'Pam',
 'Cristina']

In [ ]:
# type list3. and press tab to see list methods
list3.

#### `pop( )` will remove the last item from a list or you can specify the position of the item to remove: `pop(2)`

In [61]:
list3.pop()
list3

['purple',
 'yellow',
 'green',
 'red',
 'green',
 'Amanda',
 'Media',
 'Ari',
 'Dylan',
 'Pam']

In [62]:
list3.remove('Amanda')
list3

['purple', 'yellow', 'green', 'red', 'green', 'Media', 'Ari', 'Dylan', 'Pam']

### your turn
- remove the second `green` from list3

In [63]:
list3.append('Amanda')
list3

['purple',
 'yellow',
 'green',
 'red',
 'green',
 'Media',
 'Ari',
 'Dylan',
 'Pam',
 'Amanda']

In [64]:
list3.reverse()
list3

['Amanda',
 'Pam',
 'Dylan',
 'Ari',
 'Media',
 'green',
 'red',
 'green',
 'yellow',
 'purple']

#### You can store the item you removed in a variable

In [65]:
last_one = list3.pop()
last_one

'purple'

In [ ]:
list3

#### lists are iterable 
- use a for-loop to iterate through list3, add an `s` at the end and create a new list

In [66]:
plurals = []
for item in list3:
    plurals.append(item + 's')
    
plurals

['Amandas',
 'Pams',
 'Dylans',
 'Aris',
 'Medias',
 'greens',
 'reds',
 'greens',
 'yellows']

#### list comprehensions are a compact way to iterate through a list

In [67]:
plurals2 = [item + 's' for item in list3]
plurals2

['Amandas',
 'Pams',
 'Dylans',
 'Aris',
 'Medias',
 'greens',
 'reds',
 'greens',
 'yellows']

### your turn
- write a list comprehension that adds a `?` at the end of every item in `list3`
- save the results in a variable called `questions`

#### what do you think the next cell does?

In [68]:
favorite_colors = {}

In [69]:
type(favorite_colors)

dict

#### you can create a dictionary from two lists by zipping them together and wrapping them with a `dict( )` constructor
- the first list that you pass to the constructor becomes the dictionary keys
- the second list you pass to the constructor bscomes the dictionary values matched to the keys in the same order

In [70]:
favorite_colors = dict(zip(list2, list1))
favorite_colors

{'Amanda': 'red',
 'Media': 'yellow',
 'Ari': 'blue',
 'Dylan': 'green',
 'Pam': 'red',
 'Cristina': 'green'}

#### you can use a `key` to look up a `value`

In [72]:
favorite_colors['Cristina']

'green'

### your turn
- use a key with the `favorite_colors` dict to find Ari's favorite color

## Sometimes we want to turn a pandas series into a list

### Let's get a _list_ of unique iris species

In [73]:
# load the iris dataset from seaborn

iris_df = sns.load_dataset('iris')
print(iris_df.shape)
iris_df.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### what datatype is iris_df.species?

pandas.core.series.Series

#### you can call `.head( )` on a series just like you can on a data frame

In [75]:
iris_df.species.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

#### you can even assign the series to a new variable

In [76]:
species = iris_df.species
type(species)

pandas.core.series.Series

#### to convert it to a list, _wrap it_ with the `list( )` constructor

In [77]:
species_list = list(species)

print(type(species_list))
print(species_list)

<class 'list'>
['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica']

#### passing a list to a set constructor is a handy way to get unique list values

In [78]:
unique_species = set(species_list)
print(type(unique_species))
unique_species

<class 'set'>

{'setosa', 'versicolor', 'virginica'}

#### notice that a set is enclosed with curly braces (`{ }`)

### your turn!
- print tuple3
- find the unique values in tuple 3

In [81]:
print(tuple3)
set(tuple3)

(90, 180, 270, 360, 90, 180, 270, 360)

{90, 180, 270, 360}

### Next, we'll use a mask to *filter* the iris DataFrame
- a mask tells us row by row if the condition is `True` or `False`
- use a mask to subset the data to get only observations with a `sepal_length` less than five

In [93]:
iris_df['sepal_length'] > 5

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal_length, Length: 150, dtype: bool

#### we can save the mask and then use it to subset our data

In [94]:
big_sepal_mask = iris_df['sepal_length'] > 5

#### use the mask to subset and look at the first two rows

In [97]:
big_sepals = iris_df[big_sepal_mask]
print(big_sepals.head(2))
print("The biggest big sepal is ", big_sepals.sepal_length.max(), 
      "cm long!")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
The biggest big sepal is  7.9 cm long!

#### you can also use the mask without saving it to a variable
- here we want to find sepals between five and seven centimeters long
- each condition is wrapped with parentheses and joined by `&`

In [98]:
biggish_sepals = iris_df[(iris_df.sepal_length > 5) & (iris_df.sepal_length < 7)]

print(biggish_sepals.head(2))
print("The biggest biggsih sepal is ", 
      biggish_sepals.sepal_length.max(), "cm long!")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
The biggest biggsih sepal is  6.9 cm long!

### your turn
- use a mask to find observations in the iris data frame where `petal_length` is over 4 cm
- how many are there?