In [14]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

In [27]:
zips = gpd.read_file('data/Zip Codes.geojson')
zips.head()

,zip,objectid,po_name,shape_stlength,shape_starea,geometry
0,37115,1,MADISON,178783.02488886821,596553400.57885742,"(POLYGON ((-86.68724897141 36.318212121092, -8..."
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,"(POLYGON ((-86.734511869193 36.237735044539, -..."
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,"(POLYGON ((-86.779138251631 36.134238084457, -..."
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,"(POLYGON ((-86.812577055527 36.063187757856, -..."
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,"(POLYGON ((-87.02196675255701 36.011997336279,..."

#### change to a CRS that uses meters

In [21]:
#zips.crs

{'init': 'epsg:4326'}

In [22]:
#zips = zips.to_crs(epsg = 3857)

/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))
/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs.py:77: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method.
  return _prepare_from_string(" ".join(pjargs))

In [5]:
#zips['area_km2'] = zips.geometry.area / 10**6

In [28]:
#zips.head()
zips_small = zips[['zip', 'geometry']]

### adding a column for square miles (divide area_km2  by 2.59)

In [7]:
#zips['area_mi2'] = zips.area_km2 /2.59

In [8]:
#zips.head()

,zip,objectid,po_name,shape_stlength,shape_starea,geometry,area_km2,area_mi2
0,37115,1,MADISON,178783.02488886821,596553400.57885742,(POLYGON ((-9649980.413767088 4344495.67336968...,85.404945,32.974882
1,37216,3,NASHVILLE,75820.997821400058,188884682.28344727,(POLYGON ((-9655241.695481706 4333382.84806391...,27.015486,10.430690
2,37204,9,NASHVILLE,93180.292250425613,200664795.51708984,(POLYGON ((-9660209.481650651 4319108.08100398...,28.620981,11.050572
3,37027,11,BRENTWOOD,159760.6942933173,174978422.04101562,(POLYGON ((-9663931.872273091 4309319.39698154...,24.917208,9.620543
4,37064,18,FRANKLIN,28995.828320601937,46969608.005737305,(POLYGON ((-9687241.026723828 4302272.31261092...,6.681648,2.579787

In [33]:
police_calls = pd.read_csv('data/Metro_Nashville_Police_Department_Calls_for_Service__2018_.csv')
police_calls.head()

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
0,PD201800174180,02/16/2018 05:47:00 PM,20180155292,B,44,Disorderly Person,P,PROGRESS,6,ASSISTED OTHER UNIT,NaN,GALLATIN PKE S,711B,NaN,NaN,NaN,NaN,NaN,NaN
1,PD201800174484,02/16/2018 07:09:00 PM,20180155542,B,93,Traffic Violation,NaN,NaN,3,CITATION - TRAFFIC,600.0,ALBANY DR,521B,H,23,9509.0,36.210,-86.600,"(36.21, -86.6)"
2,PD201800173483,02/16/2018 01:38:00 PM,20180154722,A,45,Vehicle Accident - Property Damage,P,PROGRESS,1,M.P.D. REPORT COMPLED,0.0,MCCANN ST & 2ND AV S,3T74,S,11,8153.0,36.151,-86.768,"(36.151, -86.768)"
3,PD201800175018,02/16/2018 10:08:00 PM,0,B,87,Safety Hazard,P,PROGRESS,11,DISREGARD / SIGNAL 9,0.0,CLARKSVILLE PKE & KINGS LN,NaN,N,23,3141.0,36.219,-86.837,"(36.219, -86.837)"
4,PD201800174650,02/16/2018 08:02:00 PM,20180155684,B,93,Traffic Violation,NaN,NaN,9,SUBJECT WARNED,5800.0,OLD HICKORY BLVD,5F34,H,21,9527.0,36.169,-86.601,"(36.169, -86.601)"

In [34]:
police_calls = police_calls.dropna(how = 'any')

In [35]:
police_calls['geometry'] = police_calls.apply(lambda x: Point((float(x.Longitude), float(x.Latitude))), axis=1)
police_calls.head()

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location,geometry
2,PD201800173483,02/16/2018 01:38:00 PM,20180154722,A,45,Vehicle Accident - Property Damage,P,PROGRESS,1,M.P.D. REPORT COMPLED,0.0,MCCANN ST & 2ND AV S,3T74,S,11,8153.0,36.151,-86.768,"(36.151, -86.768)",POINT (-86.76799999999999 36.151)
7,PD201800175038,02/16/2018 10:16:00 PM,20180156001,B,3,Administrative/Special Assignment,O,OTHER (USED BY MNPD),6,ASSISTED OTHER UNIT,3700.0,JAMES KAY LN,521B,H,21,9511.0,36.178,-86.616,"(36.178, -86.616)",POINT (-86.616 36.178)
8,PD201800175131,02/16/2018 10:55:00 PM,20180156120,B,42,Intoxicated Person,P,PROGRESS,5,GONE ON ARRIVAL,0.0,LAFAYETTE ST,512C,H,11,8201.0,36.150,-86.767,"(36.15, -86.767)",POINT (-86.76700000000001 36.15)
10,PD201800174635,02/16/2018 07:58:00 PM,20180155678,B,53,Holdup / Robbery,A,ALARM,6,ASSISTED OTHER UNIT,2900.0,DICKERSON PKE,220B,E,23,1887.0,36.223,-86.761,"(36.223, -86.761)",POINT (-86.76100000000001 36.223)
13,PD201800175078,02/16/2018 10:28:00 PM,20180156027,B,63,Suicidal Person,P,PROGRESS,4,ASSISTED CITIZEN,100.0,WALLACE RD,321B,S,21,8705.0,36.082,-86.704,"(36.082, -86.704)",POINT (-86.70399999999999 36.082)

In [36]:
police_calls_geo = gpd.GeoDataFrame(police_calls, crs = zips.crs, geometry = police_calls.geometry)
police_calls_geo.head()

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location,geometry
2,PD201800173483,02/16/2018 01:38:00 PM,20180154722,A,45,Vehicle Accident - Property Damage,P,PROGRESS,1,M.P.D. REPORT COMPLED,0.0,MCCANN ST & 2ND AV S,3T74,S,11,8153.0,36.151,-86.768,"(36.151, -86.768)",POINT (-86.76799999999999 36.151)
7,PD201800175038,02/16/2018 10:16:00 PM,20180156001,B,3,Administrative/Special Assignment,O,OTHER (USED BY MNPD),6,ASSISTED OTHER UNIT,3700.0,JAMES KAY LN,521B,H,21,9511.0,36.178,-86.616,"(36.178, -86.616)",POINT (-86.616 36.178)
8,PD201800175131,02/16/2018 10:55:00 PM,20180156120,B,42,Intoxicated Person,P,PROGRESS,5,GONE ON ARRIVAL,0.0,LAFAYETTE ST,512C,H,11,8201.0,36.150,-86.767,"(36.15, -86.767)",POINT (-86.76700000000001 36.15)
10,PD201800174635,02/16/2018 07:58:00 PM,20180155678,B,53,Holdup / Robbery,A,ALARM,6,ASSISTED OTHER UNIT,2900.0,DICKERSON PKE,220B,E,23,1887.0,36.223,-86.761,"(36.223, -86.761)",POINT (-86.76100000000001 36.223)
13,PD201800175078,02/16/2018 10:28:00 PM,20180156027,B,63,Suicidal Person,P,PROGRESS,4,ASSISTED CITIZEN,100.0,WALLACE RD,321B,S,21,8705.0,36.082,-86.704,"(36.082, -86.704)",POINT (-86.70399999999999 36.082)

In [37]:
zips_small.head()

     zip                                           geometry
0  37115  (POLYGON ((-86.68724897141 36.318212121092, -8...
1  37216  (POLYGON ((-86.734511869193 36.237735044539, -...
2  37204  (POLYGON ((-86.779138251631 36.134238084457, -...
3  37027  (POLYGON ((-86.812577055527 36.063187757856, -...
4  37064  (POLYGON ((-87.02196675255701 36.011997336279,...

In [38]:
police_calls_with_zip = gpd.sjoin(police_calls_geo, zips_small, op = 'within')

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location,geometry
2,PD201800173483,02/16/2018 01:38:00 PM,20180154722,A,45,Vehicle Accident - Property Damage,P,PROGRESS,1,M.P.D. REPORT COMPLED,0.0,MCCANN ST & 2ND AV S,3T74,S,11,8153.0,36.151,-86.768,"(36.151, -86.768)",POINT (-86.76799999999999 36.151)
7,PD201800175038,02/16/2018 10:16:00 PM,20180156001,B,3,Administrative/Special Assignment,O,OTHER (USED BY MNPD),6,ASSISTED OTHER UNIT,3700.0,JAMES KAY LN,521B,H,21,9511.0,36.178,-86.616,"(36.178, -86.616)",POINT (-86.616 36.178)
8,PD201800175131,02/16/2018 10:55:00 PM,20180156120,B,42,Intoxicated Person,P,PROGRESS,5,GONE ON ARRIVAL,0.0,LAFAYETTE ST,512C,H,11,8201.0,36.150,-86.767,"(36.15, -86.767)",POINT (-86.76700000000001 36.15)
10,PD201800174635,02/16/2018 07:58:00 PM,20180155678,B,53,Holdup / Robbery,A,ALARM,6,ASSISTED OTHER UNIT,2900.0,DICKERSON PKE,220B,E,23,1887.0,36.223,-86.761,"(36.223, -86.761)",POINT (-86.76100000000001 36.223)
13,PD201800175078,02/16/2018 10:28:00 PM,20180156027,B,63,Suicidal Person,P,PROGRESS,4,ASSISTED CITIZEN,100.0,WALLACE RD,321B,S,21,8705.0,36.082,-86.704,"(36.082, -86.704)",POINT (-86.70399999999999 36.082)

In [39]:
police_calls_with_zip.head()

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,...,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location,geometry,index_right,zip
2,PD201800173483,02/16/2018 01:38:00 PM,20180154722,A,45,Vehicle Accident - Property Damage,P,PROGRESS,1,M.P.D. REPORT COMPLED,...,3T74,S,11,8153.0,36.151,-86.768,"(36.151, -86.768)",POINT (-86.76799999999999 36.151),47,37210
8,PD201800175131,02/16/2018 10:55:00 PM,20180156120,B,42,Intoxicated Person,P,PROGRESS,5,GONE ON ARRIVAL,...,512C,H,11,8201.0,36.150,-86.767,"(36.15, -86.767)",POINT (-86.76700000000001 36.15),47,37210
23,PD201800173825,02/16/2018 03:46:00 PM,20180154971,B,87,Safety Hazard,P,PROGRESS,4,ASSISTED CITIZEN,...,2S45,H,13,82061.0,36.140,-86.732,"(36.14, -86.732)",POINT (-86.73200000000001 36.14),47,37210
65,PD201800174697,02/16/2018 08:15:00 PM,20180155782,B,88,Investigate 911 Hang-Up Call,PW,REQUEST FOR PUBLIC WORKS,5,GONE ON ARRIVAL,...,3T72,S,13,8357.0,36.117,-86.727,"(36.117, -86.727)",POINT (-86.727 36.117),47,37210
141,PD201800174611,02/16/2018 07:48:00 PM,20180155655,B,87,Safety Hazard,P,PROGRESS,7,ADVISORY / NOTICE FORM GIVEN,...,512B,H,13,82060.0,36.144,-86.739,"(36.144, -86.739)",POINT (-86.73899999999999 36.144),47,37210

In [40]:
police_calls_with_zip.to_csv('police_calls_with_zipcode.csv', index = False)